<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>BetterBlend</title>

		<!-- CSS -->
        <link rel="stylesheet/less" type="text/css" href="/css/main.less"/>
		
		<!-- JS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>

	</head>

	<body>
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>