<p class="title">Playlists</p>
<a class="links" href="/">Go Back</a><br><br>
<div id="playlist" class="beta">
	<div class="card">
		<div class="card-image">
			<figure class="image is-square">
				<img src="https://bulma.io/images/placeholders/480x480.png" alt="Placeholder image">
			</figure>
		</div>
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title is-6" style="text-align:center;"><a href="/tracks">Test Playlist</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/playlist.js"></script>
