<!--<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>-->

<p class="title">Tracks</p>
<a href="/playlists" class="links">Go Back</a><br><br>
<div id="tracks">

</div>

<script src="/js/tracks.js"></script>