<p class="title">Playlists</p>
<a href="/" style="display:block;">Go Back</a><br>
<a href="/playlist-tracks" style="display:block;">Go to Tracks</a><br>
<div id="playlist-table">
	<table class="u-full-width" style="font-size:18px;">
		<thead class="alpha">
			<th>Name</th>
			<th>ID</th>
			<th>href</th>
		</thead>
		<tbody id="playlist-list" class="beta">
		</tbody>
	</table>
</div>

<script src="/js/playlist.js"></script>