<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

<p class="title">Tracks</p>
<a href="/playlists" style="display:block;">Go Back</a><br>
<a href="/" style="display:block;">Go Home</a><br>
<div id="tracks-table">
	<table class="u-full-width" style="font-size:18px;">
		<thead class="alpha">
			<th>Name</th>
			<th>Artist</th>
			<th></th>
		</thead>
		<tbody id="tracks-list" class="beta">
		</tbody>
	</table>
</div>

<script src="/js/tracks.js"></script>