<p class="title">Playlists</p>
<a href="/" style="display:block;">Go Back</a><br>
<div id="playlist-table">
	<table class="u-full-width">
		<thead>
			<th>Name</th>
			<th>ID</th>
			<th>href</th>
		</thead>
		<tbody id="playlist-list">
		</tbody>
	</table>
</div>

<script src="/js/main.js"></script>