@import url('https://fonts.googleapis.com/css?family=Arvo|Lato');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.alpha {font-family: 'Arvo', Serif;}
.beta {font-family: 'Lato', Sans-Serif;}

.my-container {
	max-width: 960px;
	margin: 0 auto;
	padding:2rem 1.5rem;
}

.title {
	font-family: 'Arvo', Serif;
	font-size:40px;
}

.subtitle {
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
}

.links {
	text-decoration: none;
	display: inline-block;
	background: skyblue;
	border:1px solid white;
	color: white;
	border-radius: 5px;
	padding:5px 15px;
	margin: 5px 0;
	cursor:pointer;
}

.links:hover {
	background:white;
	border:1px solid skyblue;
	color:skyblue;
}

.vote {
	margin:0 10px;
	color:#A8A8A8;
	cursor: pointer;
}

.vote:hover {
	color:black;
}

#playlist {
	margin: 0 auto;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1rem;
}

#tracks {
	margin:0 auto;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap:1rem;
}

.playlist-item {
	color:black;
	text-decoration: none;
}

.playlist-item:hover {
	color:skyblue;
}

.shadow {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2), 
	0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.19);
}

.content { 
	position: relative;
	overflow: hidden; 
	min-height:50px;
}
.media-content > .level { margin-top: -5px; }

.content > .names {
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.song-name {font-weight:bolder;}
.artist-name {font-size:14px;}

.box { 
	margin:0 !important; 
	min-width: 0;
	overflow: hidden;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}
/* Larger than phablet */
@media (min-width: 550px) {
	#playlist { grid-template-columns: repeat(3,1fr); }
	#tracks { grid-template-columns: repeat(2,1fr); }
}
/* Larger than tablet */
@media (min-width: 750px) {
	#playlist { grid-template-columns: repeat(4,1fr); }
}
@media (min-width: 960px) {
	#tracks { grid-template-columns: repeat(3,1fr); }
}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}